
.bg-top {
  position: fixed;
  z-index: 10;
  top: 0;
  right:0;
  height: 4rem;
  width: 99.95vw;
  background-color: var(--light-mode-bg);
  animation: bg-top-anim var(--navbar-right-to-left-animation-speed) ease-in;
}

.bg-body {
  position: fixed;
  z-index: 10;
  top: 0;
  right:0;
  height: 4.025rem;
  width: 100%;
  background-color: var(--navigation-body-bg-color);
  /* filter: blur(1px); */
  backdrop-filter: blur(8px);
  box-shadow: 0 0 2px 0 ;
  animation: bg-body-anim var(--navbar-right-to-left-animation-speed) ease-in;
}

@keyframes bg-top-anim {
  0% {
    background-color: var(--navigation-body-bg-color);
    width: 0rem;
  }
  100% {
    background-color: var(--navigation-top-bg-color);
    width: 100vw;
  }
}

@keyframes bg-body-anim {
  0% {
    background-color: var(--navigation-top-bg-color);
    width: 0rem;
  }
  100% {
    background-color: var(--navigation-body-bg-color);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 2px 0 ;
    width: 100vw;
  }
}

.expand-text-wrapper {
  width: fit-content;
}

.first-name {
  width: 0.8rem;
  height:2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.last-name {
  width: 0.6rem;
  height:2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.expand-text-wrapper:hover .first-name {
  animation: expand-first-name 7.5s ease-in;
}

@keyframes expand-first-name {
  0% {
    width: 1rem;
    visibility: hidden;
  }
  2% {
    width: 1.9rem;
    visibility: visible;
    color: grey;
  }
  98% {
    width: 1.9rem;
    visibility: visible;
    color: grey;
  }
  100% {
    width: 1rem;
    visibility: hidden;
  }
}

.expand-text-wrapper:hover .last-name {
  animation: expand-last-name 8s ease-in 0.4s;
}

@keyframes expand-last-name {
  0% {
    width: 0.7rem;
    visibility: hidden;
  }
  2.5% {
    width: 3.6rem;
    visibility: visible;
    color: grey;
  }
  98.5% {
    width: 3.6rem;
    visibility: visible;
    color: grey;
  }
  100% {
    width: 0.7rem;
    visibility: hidden;
  }
}
