#root {

  /* padding: 2rem; */
  /* text-align: center; */

  /* Load Animations */
  --load-anim-duration: 2.2s;
  --load-drop-color-start: #364fc7;
  --load-drop-color-expand: #364fc7;
  /* --load-drop-intersectors: #00FA9F; */
  --load-drop-intersectors: #fff;
  /* --load-drop-intersectors: #F71444;  */
  --load-finish-color: rgb(30, 30, 30);

  /* Navigation */
  --navigation-top-bg-color: rgb(255, 255, 255);
  /* --navigation-body-bg-color: rgba(255, 255, 255, 0.643); */
  --navigation-body-bg-color: #364ec70f;
  --navbar-right-to-left-animation-speed: 0.5s;

  /* Light Mode */
  --light-mode-bg: rgb(255, 255, 255);
  --light-mode-primary-text: rgb(152, 88, 88);
  --light-mode-alt-text: rgb(164, 89, 89);
  --light-mode-accent: #5c7cfa;
}

body {
  /* TODO: set as cpu mode var for light or dark */
  background-color: var(--light-mode-bg); 
  /* TODO: set as cpu mode var for light or dark */
  color: var(--light-mode-primary-text);
}

.app-max-width {
  max-width: 1280px;
}

a {
  font-weight: 500;
  color: var(--light-mode-alt-text);
  text-decoration: inherit;
  transition: 50ms ease-in;
}

a:hover {
  color: #364fc7;
  text-decoration: underline;
  transition: 50ms ease-in;
}