#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;

  /* Load Animations */
  --load-anim-duration: 2s;
  --load-drop-color-start: #4000FA;
  --load-drop-color-expand: #4000FA;
  --load-drop-intersectors: #00FA9F; 
  /* --load-drop-intersectors: #F71444;  */
  --load-finish-color: rgb(30, 30, 30);
}

.max-width {
  max-width: 1280px;
}

.app-blue {
  background-color: #243048;
}

.accent-1 {
  /* color: #f2c7b4; */
  /* color: #BAC79F; */
  /* color: #9C9482; */
  /* color: #FDFFE2; */

  color: #EEEDEB;
  /* color: #E6B9A6; */
  /* color: #939185; */
  /* color: #2F3645; */
}

.accent-2 {
  color: #eeaf60;
}
