#root {

  /* padding: 2rem; */
  /* text-align: center; */

  /* Load Animations */
  --load-anim-duration: 2s;
  --load-drop-color-start: #4000FA;
  --load-drop-color-expand: #4000FA;
  --load-drop-intersectors: #00FA9F; 
  /* --load-drop-intersectors: #F71444;  */
  --load-finish-color: rgb(30, 30, 30);

  /* Navigation */
  --navigation-top-bg-color: rgb(255, 255, 255);
  --navigation-body-bg-color: rgba(255, 255, 255, 0.643);
  --navbar-right-to-left-animation-speed: 0.3s;
}

body {
  /* margin: auto;
  max-width: 60vw;
  height: 100%;
  padding: 0;
  margin: auto; */
  /* TODO: set as cpu mode var for light or dark */
  background-color: white; 
  /* TODO: set as cpu mode var for light or dark */
  color: black;
}

.app-max-width {
  max-width: 1280px;
}

.app-blue {
  background-color: #243048;
}

.primary-text {
  color: #3166E0;
}

.accent-text {
  color: #E03177;
}

.text-light {
  color: #E683AA;
}

.text-dark {
  /* color: #2f2f2f; */
  color: #414141;
}

.accent-1 {
  /* color: #f2c7b4; */
  /* color: #BAC79F; */
  /* color: #9C9482; */
  /* color: #FDFFE2; */

  /* color: #EEEDEB; */
  /* color: #E6B9A6; */
  /* color: #939185; */
  /* color: #2F3645; */
}

.accent-2 {
  color: #eeaf60;
}

